/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-coin {
  color: white;
  text-align: center;
  align-self: center;
  padding: 1rem;
}

.main {
  flex: 1;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.king-hill-image {
  width: 166px;
  height: 32px;
}

.footer {
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content .card {
    margin: 1rem 0;
  }
}
