.random-card {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
}

.random-card:hover {
  border: 0.5px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.random-card h2 {
  margin: 0 0 0.5rem;
  color: #1e1e2f;
}

.random-card p {
  margin: 0;
  padding-bottom: 4px;
  color: white;
  font-size: 12px;
  text-align: start;
}

.random-card-created-by {
  display: flex;
  flex-direction: row;
  --tw-text-opacity: 1;
  color: rgb(191 219 254 / var(--tw-text-opacity));
  font-size: 12px;
  gap: 4px;
}

.random-card-image {
  width: 5rem;
  height: 5rem;
}

.random-card-name {
  font-size: 14px;
  font-weight: 700;
}
