.search-bar {
  text-align: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  --tw-bg-opacity: 1;
  background-color: rgb(134 226 172);
}

.search-button,
.clear-button {
  margin-inline-start: 0.5rem;
  padding: 10px 6px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button,
.clear-button {
  --tw-bg-opacity: 1;
  background-color: rgb(108, 236, 162);
}

.search-button:hover,
.clear-button:hover {
  background-color: rgb(87, 228, 146);
}

@media (max-width: 768px) {
  .clear-button {
    display: none;
  }
}
